.kanban-column {
    .portlet-head {
        display: flex;
        flex-direction: row;

        > a {
            flex: 1;
        }

        div {
            flex: 0;
        }
    }

    min-width: 300px;
}

.kanban-board {
    column-gap: 1rem;
    flex-wrap: nowrap;
}